* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vmin;
    position: relative;
}

.base {
    width: 100vmin;
}

.rotacionavel {
    border-radius: 50%;
}

#ladoA1 {
    width: 86vmin;
    top: 7vmin;
    left: 7vmin;
}

#ladoB1 {
    width: 90vmin;
    top: 5vmin;
    left: 5vmin;
}

#ladoB2 {
    position: absolute;
    width: 76vmin;
    height: 76vmin;
    top: 12vmin;
    left: 12vmin;
    border-radius: 50%;
}

img {
    position: absolute;
}

#trocar_lado {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99;
}
